@{
    ViewData["Title"] = "Manage Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert" id="alert-success">
    <strong>Success</strong>
</div>

<div class="alert" id="alert-error">
    <strong>Error</strong>
</div>

<input type="hidden" value="@ViewBag.index" id="index" />

<div class="table-title">
    <div class="row">
        <div class="col-6">
            <h2>Manage Document</h2>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Text..." id="query" />
                <button type="button" class="btn btn-primary" onclick="SearchDocuments($('#index').val(), $('#query').val())">Search</button>
                <button type="button" class="btn btn-primary" onclick="GetDocuments($('#index').val(), false)"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="area_search">
    <div class="row">
        <div class="col-10" id="field_search">
            
        </div>
        <div class="col-2" id="operator_search">
            <div class="form-check-inline" id="rdOperatorOr">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="rdOperator" value="OR" checked>OR
                </label>
            </div>
            <div class="form-check-inline" id="rdOperatorAnd">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="rdOperator" value="AND">AND
                </label>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead id="thead-document">

    </thead>
    <tbody id="tbody-document">
    </tbody>
</table>

<script>
    $(document).ajaxStart(function () {
        $.LoadingOverlay("show", {
            imageColor: "rgba(0, 0, 255, 1)",
            size: "5%"
        });
    });

    $(document).ajaxStop(function () {
        $.LoadingOverlay("hide");
    });

    $(document).ready(function () {
        $("#alert-success").hide();
        $("#alert-error").hide();
        GetDocuments($("#index").val(), false);
        GenerateFieldSearch($("#index").val());
    });
</script>